@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');

*
{
    box-sizing: border-box;
    font-family: "Poppins", "Times New Roman", "Arial", "sans-serif";
}

body
{
    width: 100%;
    margin: 0 auto;
    padding: 30px;
    background-color: white;
    
}

header
{
    display: grid;
    grid-template-columns: 150px auto;
    margin-bottom: 20px;
    background-color: white;
    padding: 5px;
    border-bottom: 3px solid hsl(210, 32%, 93%);
}

nav
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

nav a
{
    font-size: 22px;
    color: hsl(212, 56%, 16%);
}

#logo-link
{
    margin: 0 auto;
}

footer
{
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    margin: 0 auto;
    padding-top: 15px;
    justify-content: space-around;
    align-items: center;
    font-size: 22px;
    border-top: 3px solid hsl(210, 32%, 93%);
}

a
{
    text-decoration: none;
}

footer p
{
    color: hsl(212, 56%, 16%);
}

p
{
    background-color: white;
    color: hsl(212, 18%, 35%);
}

p a
{
    color: hsl(212, 56%, 16%);
}

img
{
    border-radius: 20px;
}

.images
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#education-image
{
    grid-column: 2/3;
}

#coding-image
{
    grid-column: 3/4;
}

#alexandria-image
{
    grid-column: 2/3;
}

#student-coding-image
{
    grid-column: 3/4;
}

#html-image
{
    grid-column: 2/3;
}

#css-image
{
    grid-column: 3/4;
}